@import "tailwindcss";

/* ===== Color System ===== */
:root {
  --background: #dee2e6;
  --sub-background: #e9ecef;
  --foreground: #343a40;
  --accent: #f38aa5;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #212529;
    --sub-background: #343a40;
    --foreground: #e9ecef;
    --accent: #c23350;
  }
}

/* ===== Base Style ===== */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* ===== Utility Classes ===== */
.bg-sub {
  background-color: var(--sub-background);
}

.text-accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
  color: white;
}

.card {
  background-color: var(--sub-background);
  border-radius: 16px;
  padding: 1.5rem;
}